MONGODB_URI = mongodb+srv://Ayesha123:Ayesha123@test-mern.dngco.mongodb.net/?retryWrites=true&w=majority&appName=test-mern
TOKEN_SECRET_KEY = asdfgagasdoeitupqituweiewotuewitouw
FRONTEND_URL = http://localhost:3000